<html>
<head>
    <title></title>
    <link rel="stylesheet" href="/static/styles.css" type="text/css">

</head>
<style>
body{
    background-color: #FFFFFF;
}
a{
    margin-bottom: 50px;
}
</style>
<body>
    <h1 style="font-size: 60px; text-align: center;font-color: black;">Receipt Hack</h1>
    <div>
        <a href="/login" style="text-align: center;margin-bottom: 20px;" class="btn btn-primary btn-large btn-block" >Login</a>
        <a href="/register" style="text-align: center" class="btn btn-primary btn-large btn-block">Register</a>
    </div>
</body>
